@import '../Picker/Picker.less';

@idWidth: 10rem;
@idPadding: 1rem;
@borderThickness: 0.125rem;

.CasePicker {
    position: relative;
    box-shadow: 0 0 0 @borderThickness @blue;
    border-radius: @borderThickness;
    height: @idHeight;

    > .typo-normal {
        text-align: center;
        width: @idWidth;
    }

    .Picker__popup {
        left: @idWidth + @borderThickness + @idPadding * 2;
        top: @idHeight + @borderThickness;
        padding: 1rem;
    }

    .Picker__chevron {
        border: none;
        border-left: @borderThickness solid @blue;
    }
}
