.PersonBar {
    display: flex;
    align-items: center;

    > *:not(:first-child) {
        margin-left: 1rem;
    }

    .typo-undertekst {
        color: #3e3832;
    }

    .divider {
        height: 60%;
        border-right: 1px solid #c6c2bf;
    }

    button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100px;
        padding: 0;
        border: none;
        background: none;
        cursor: pointer;

        .typo-undertekst {
            color: #0067c5;
        }
    }
}
