@import '../../variables';

.PersonBar {
    display: flex;
    align-items: center;
    height: 4rem;
    padding: 0 2rem;
    border-bottom: 1px solid @greyLight;

    > *:not(:first-child) {
        margin-left: 1rem;
    }

    .typo-normal,
    .typo-element {
        display: flex;
        align-items: center;
        color: #3e3832;
    }

    .PersonBar__gender svg {
        margin-right: 0.375rem;
    }

    .PersonBar__phone svg.Icon {
        padding: 0 !important;
        margin-right: 0.5rem;
    }
}
