@import '../../variables';

@borderColor: #c6c2bf;

.RightMenu {
    position: relative;
    border-left: 1px solid @borderColor;
    min-width: 10rem;
    max-width: 19rem;

    .RightMenu__top {
        height: 3.875rem;
        border-bottom: 1px solid @borderColor;
        display: flex;
        justify-content: flex-end;
    }

    .RightMenu__list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow-y: scroll;
    }
}
