@lineHeight: 1.5rem;
@panelPadding: 1.5rem;

.InformationPanel {
    display: flex;
    justify-content: space-between;
    position: relative;

    .vertical.solid.Separator {
        margin-top: 4.5rem;
        height: @lineHeight * 7;
    }

    .InformationPanel__grid {
        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap: 0.5rem;
    }

    .InformationPanel__left,
    .InformationPanel__mid,
    .InformationPanel__right {
        padding: @panelPadding;
        max-width: 500px;
        flex: 1;

        .typo-undertittel {
            display: flex;
            align-items: center;
            font-size: 1rem;
            line-height: @lineHeight;
            margin-bottom: @lineHeight;

            .Icon {
                margin-left: 0.5rem;
            }
        }
    }

    .InformationPanel__left {
        padding-left: 0;
    }

    .InformationPanel__mid {
        .InformationPanel__grid:not(:last-child) {
            margin-bottom: @lineHeight;
        }
    }

    .InformationPanel__right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-right: 0;

        > .typo-undertekst:last-child {
            position: absolute;
            bottom: @panelPadding;
            right: 0;
            color: #0067c5;
            text-decoration: underline;
            cursor: pointer;
        }
    }
}
